* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.App {
  color: #00f008;
  background: linear-gradient(to right, #032201, #034a05);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Outlet {
  color: #00f008;
  flex: 1; /* Permet au contenu de prendre l'espace disponible */
}

footer {
  margin-top: auto; /* Pousse le footer vers le bas */
}
