@font-face {
  font-family: "roboto";
  src: url("../../assets/fonts/roboto.ttf") format("truetype");
}

input {
  border-radius: 10px;
  box-shadow: 5px 2px 30px #00f008;
  height: 30px;
  font-size: medium;
}
.create-experience-container {
  padding-top: 2em;
  background-color: #034a05;
  color: #00f008;
  font-family: "roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.add-button-form {
  display: flex;
  justify-content: center;
}

.create-experience-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: 1em;
  padding: 10px;
  border: solid white 1px;
  border-radius: 8px;
  box-shadow: 0px 4px 0px rgba(1, 250, 17, 0.3);
  transition: all 0.2s ease;
  cursor: pointer;
  font-family: "roboto", sans-serif;
  color: rgb(1, 1, 1);
  text-align: center;
  background-color: #00f008;
  margin-top: 2em;
}

.form-fields {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  margin-top: 0.5em;
  font-size: 19px;
}

@media (min-width: 768px) {
  input {
    height: 30px;
    font-size: large;
  }

  .form-fields {
    font-size: 19px;
  }
}
